@{
    ViewBag.Title = "About";
}

<main aria-labelledby="title">
    <div class="container">
        <h2 id="title">WELCOME TO MP INTERNATIONAL SCHOOL</h2>
        <div class="card about-card bg-light p-4 rounded-lg shadow">
            <div class="card-body">
                <p>MP International School [MPIS] is a leading international Coeducational Multilingual Senior Secondary day school recognized by the General Education Department of the Government of Kerala and affiliated to the Central Board of Secondary Education, Ministry of Education, Government of India. The school has the credit of being the first and only American International School and the first and only school in Kerala to get accredited by the Cognia Global Commission, USA to provide world-class education for the students of Kerala.</p>
                <p>The M P Charitable Trust, Kasaragod, a registered trust under the Indian Trust Act and directed by Dr. MA Mohammed Shafi, is the driving force behind MPIS. It is located on a beautiful campus measuring 5.12 acres of land situated in a serene and picturesque environment at Periyadka, a suburb of Kasaragod, 7 km away from the District Headquarters. The school is now housed in a modern, six-story building with the best of amenities required for a school. A sprawling auditorium measuring 13450 sq. ft. caters to the needs of conducting various programs and functions, both academic and extracurricular. The library building has a built area of 11298 sq. ft. Separate laboratories for biology, chemistry, physics, and computer science, sufficiently equipped with modern amenities, are available. Four playgrounds have been established to encourage students to participate in recreational activities, sports, and games on campus.</p>
                <p>With a student body of 1,200, MPIS provides contemporary Indigenous and international education to children aged 3 to 16. It is pedagogically led by Dr. Abdul Jaleel P. It supports the students with an exceptional learning environment and global opportunities by providing a welcoming, engaging, lively, and inspiring educational environment that nurtures students’ potential and maximizes their achievement. The facilitators focus on developing the skills and mindset that students will need to succeed in an ever-changing world while imparting traditional Indian values in an international context and in interesting learning environments. Honesty, tolerance, integrity, and respect for others are characteristics that the school upholds. We strive to prepare our children for the future and are capable of attaining extraordinary academic brilliance on their way to some of the best universities in the world.</p>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
