@{
    ViewBag.Title = "Contact";
}

<main aria-labelledby="title">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body bg-light p-4 rounded-lg shadow">
                        <h1 class="card-title text-center mb-4">Contact Us</h1>      
                            <p><strong>MP International School</strong></p>
                            <p>Periyattadukkam, Periya</p>
                            <p>Kasaragod, Kerala 671317</p>
                            <p>Email: info@mpinternationalschool.com</p>
                            <p>Phone: +1 (123) 456-7890</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
